

<div class="container-fluid p-2 mt-2 row justify-content-between">
  <div class="col-4 text-center pt-2 log" routerLink="">
    <img
      src="../../../assets/1688361055amazon-logo-png.webp"
      alt=""
      width="150px"
      class="img-fluid"
    />
  </div>
  
  <div class="col-4 d-flex justify-content-end">
    <div routerLink="/login" target="blank" class="log">
      <span
        ><h6>Hello, Please Login</h6>
        <p>Create an Account</p></span
      >
    </div>

    <div class="ms-5 log" routerLink="/user-details">
      <i class="fa-solid fa-user ms-4 ps-2 h5"></i>
      <p class="h6">View Profile</p>
    </div>

    <div class="ms-5 log" routerLink="/cart">
      <i class="fa-solid fa-cart-plus h2"></i>
     
    </div>
  </div>
</div>
