
<footer class="bg-dark text-light  py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5>Get to Know Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Careers</a></li>
            <li><a href="#" class="text-light">Blog</a></li>
            <li><a href="#" class="text-light">About Amazon</a></li>
            <li><a href="#" class="text-light">Investor Relations</a></li>
            <li><a href="#" class="text-light">Amazon Devices</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Make Money with Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Sell on Amazon</a></li>
            <li><a href="#" class="text-light">Sell Under Amazon Accelerator</a></li>
            <li><a href="#" class="text-light">Amazon Global Selling</a></li>
            <li><a href="#" class="text-light">Become an Affiliate</a></li>
            <li><a href="#" class="text-light">Advertise Your Products</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Amazon Payment Products</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Amazon Business Card</a></li>
            <li><a href="#" class="text-light">Shop with Points</a></li>
            <li><a href="#" class="text-light">Reload Your Balance</a></li>
            <li><a href="#" class="text-light">Amazon Currency Converter</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Let Us Help You</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light">Amazon and COVID-19</a></li>
            <li><a href="#" class="text-light">Your Account</a></li>
            <li><a href="#" class="text-light">Your Orders</a></li>
            <li><a href="#" class="text-light">Shipping Rates & Policies</a></li>
            <li><a href="#" class="text-light">Returns & Replacements</a></li>
          </ul>
        </div>
      </div>
      <hr class="mt-4 mb-3">
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2024Amazon.com. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  